/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.border-play-pause-light-border {
    border-color: rgba(15, 23, 42, 0.06);
  }
  
  .dark .dark\:border-play-pause-dark-border {
    border-color: rgba(255, 255, 255, 0.06);
  }

  .dark .dark\:bg-play-pause-dark-background {
    --tw-bg-opacity: 1;
    background-color: rgb(47 59 79 / var(--tw-bg-opacity));
  }

  div.amplitude-play-pause.amplitude-playing #pause-icon{
    display: block;
  }

  div.amplitude-play-pause.amplitude-paused #pause-icon{
    display: none;
  }

  div.amplitude-play-pause.amplitude-paused #play-icon{
    display: block;
  }

  div.amplitude-play-pause.amplitude-playing #play-icon{
    display: none;
  }

  div.amplitude-shuffle.amplitude-shuffle-on svg path{
    fill: #38BDF8;
  }

  div.amplitude-repeat-song.amplitude-repeat-song-on svg path{
    fill: #38BDF8;
  }